@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_LayoutView.cshtml";
}

 @section Title
{
  <title>Gallery Page</title>   
}

@section header
{
    <a href="/Account/logout">Logout</a> 
    }
@section Menu
{
      <ul>
                <li><a href="/Admin/index" class="selected">Home</a></li>
                <li><a href="/Admin/Add_Product">Add Products</a>
                <li><a href="/Admin/Gallery">Gallery</a></li>
                <li><a href="/Admin/DelProducts">Delete Products</a>
                <li><a href="/Admin/UpdateProducts">Update Product</a></li>
                <li><a href="/Admin/viewallproducts">ViewAllproducts</a></li>
          </ul>
    }
@section Search
{
    <ul>
    <li><a href="/Admin/search" class="selected">Search</a></li>
        </ul>
    }
@section Sidebar
{
    <li class="first">Primary Office</li>
                        <li> <a href="mailto:info@yourcompany.com">info@yourcompany.com</a></li>
                        <li>Phone: 010-010-6600</li>
                        <li><a href="/Admin/viewallproducts">Products</a></li>
    }
@section BottomSidebar
{
    <h3>Admin Authorities </h3>   
                <div class="content"> 
                	<div class="bs_box">
                    	<a href="#"><img src="~/images/03.jpg" alt="image" /></a>
                        <h4><a href="/Admin/Gallery">Gallery</a></h4>
                       <div class="cleaner"></div>
                        </div>
                    </div>
    }
@section Slider
{
  
    <h2>Gallery</h2>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<link rel="stylesheet" href="~/Content/jquery.fancybox.css?v=2.1.4" type="text/css" media="screen" />
<script type="text/javascript" src="~/Scripts/jquery.fancybox.js?v=2.1.4"></script>

@foreach(var x in ViewBag.X)
{

<a class="fancybox" href="~/Uploads/images/@x.imagepath" alt="">
      <img src="~/Uploads/images/@x.imagepath" alt=""/></a>
}

     
<script type='text/javascript'>
    $(document).ready(function () {
        /* This is basic - uses default settings */
        $("a#single_image").fancybox();

        /* Using custom settings */
        $("a#inline").fancybox({
            'hideOnContentClick': true
        });

        /* Apply fancybox to multiple items */
        $("a.group").fancybox({
            'transitionIn': 'elastic',
            'transitionOut': 'elastic',
            'speedIn': 600,
            'speedOut': 200,
            'overlayShow': false
        });
    });
</script> 
<script>
    // Activate fancyBox
    $(".fancybox")
        .attr('rel', 'gallery')
        .fancybox({
            padding: 0
        });

 </script>
       <script>
           // Launch fancyBox on first element
           $(".fancybox").eq(0).trigger('click');
    </script>


 

    }
@section Products
{
    @*@Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts",required:false)*@
    }

@section Footer
{
    <p><a href="/Admin/index">Home</a> | <a href="/Admin/Add_Product">Add Products</a> | <a href="/Admin/UpdateProducts">Update Product</a>  | <a href="/Admin/DelProducts">Delete Product</a> 
		</p>
    }
