@{
    ViewBag.Title = "signup1";
    Layout = "~/Views/Shared/_LayoutView.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>signup1</title>
</head>
<body>
    <div>
        
    </div>
</body>
</html>
